* {
    background-color:lightblue;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin: 10px;
    border: 10px solid green;
    padding-left: 300px;
}

.lasagna {
    font-size: 30px;
    border: 10px solid brown;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: black;
    color: white;
    display: block;
}

.tortilla {
    font-size: 30px;
    background-color: red;
    text-align: center;
    text-decoration: dashed;
    width: 200px;
    border: 10px solid gray;
    padding: 15px;
    margin: 10px;
    display: block;
}

.soup {
    font-size: 30px;
    border: 10px solid blue;
    text-align: center;
    width: 200px;
    padding: 15px;
    margin: 10px;
    background-color: aliceblue;
    display: block;
}